# Augmenting using other DFs to merge

**In the example we are using 3 DF's, name, birthday and sign, then we are doing some functions as well**
> Take the name, merge birthday and the sign
> - Calculate the day of week person was born on
> - Calculate the age
> - then use Title or Capitalize to neaten the data up

In [164]:
import pandas as pd
import datetime as dt
from IPython.display import Markdown, display, HTML

def load():
    name = pd.DataFrame({'name': ['carl', 'beth', 'madz', 'zack', 'yvonne', 'anna', 'sue', 'ginny'],
                         'middle' : ['warneford', 'paige', 'faith', 'tyler', 'joan', 'louise', 'jane', 'alexandra'],
                        'family-name': ['langton', 'langton', 'langton', 'langton', 'langton', 'langton', 'lenihan', 'carlson']})
    birthday = pd.DataFrame({'name': ['carl', 'beth', 'madz', 'zack', 'yvonne', 'anna', 'sue', 'ginny'],
                        'dob': [pd.Timestamp("1973-04-19"), pd.Timestamp("2000-04-04"),
                               pd.Timestamp("2002-01-24"), pd.Timestamp("2007-05-17"),
                               pd.Timestamp("1944-07-28"), pd.Timestamp("1969-10-13"),
                               pd.Timestamp("1971-06-26"), pd.Timestamp("1975-06-12")]})
    sign = pd.DataFrame({'name': ['carl', 'beth', 'madz', 'zack', 'yvonne', 'anna', 'sue', 'ginny'],
                         'sign': ['aries', 'aries', 'aquarius', 'taurus', 'leo', 'libra', 'cancer', 'gemini']})
    return name, birthday, sign

In [165]:
name, birthday, sign = load()

In [221]:
def prettify(table):
    table = table.replace('<thead>','<thead style="background-color:purple; color:white;">')
    table = table.replace('<tr>', '<tr style="background-color:lavender; font-weight:bold;;">')
    table = table.replace('<td>', '<td style="text-align:left;">')
    table = table.replace('<th>', '<th style="text-align:left;">')
    return table

df = name.merge(birthday).merge(sign)
df['born-day'] = df.apply(lambda x: x.dob.strftime('%a'), axis=1)
df['age'] = df.apply(lambda x: f'{int((dt.datetime.now() - x.dob).days // 365.25)} years'
                     f' {int((dt.datetime.now() - x.dob).days % 365.25)} days' , axis=1)
for col in ['name', 'middle', 'family-name', 'sign', 'age']:
    df[col] = df[col].str.title() # capitalize()
    
    
display(HTML(prettify(df.sort_values('dob').to_html(index=False))))

In [223]:
prettify(df.to_html())

'<table border="1" class="dataframe">\n  <thead style="background-color:purple; color:white;">\n    <tr style="text-align: right;">\n      <th style="text-align:left;"></th>\n      <th style="text-align:left;">name</th>\n      <th style="text-align:left;">middle</th>\n      <th style="text-align:left;">family-name</th>\n      <th style="text-align:left;">dob</th>\n      <th style="text-align:left;">sign</th>\n      <th style="text-align:left;">born-day</th>\n      <th style="text-align:left;">age</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr style="background-color:lavender; font-weight:bold;;">\n      <th style="text-align:left;">0</th>\n      <td style="text-align:left;">Carl</td>\n      <td style="text-align:left;">Warneford</td>\n      <td style="text-align:left;">Langton</td>\n      <td style="text-align:left;">1973-04-19</td>\n      <td style="text-align:left;">Aries</td>\n      <td style="text-align:left;">Thu</td>\n      <td style="text-align:left;">47 Years 293 Days</td>\n    </tr>\n    <tr style="background-color:lavender; font-weight:bold;;">\n      <th style="text-align:left;">1</th>\n      <td style="text-align:left;">Beth</td>\n      <td style="text-align:left;">Paige</td>\n      <td style="text-align:left;">Langton</td>\n      <td style="text-align:left;">2000-04-04</td>\n      <td style="text-align:left;">Aries</td>\n      <td style="text-align:left;">Tue</td>\n      <td style="text-align:left;">20 Years 308 Days</td>\n    </tr>\n    <tr style="background-color:lavender; font-weight:bold;;">\n      <th style="text-align:left;">2</th>\n      <td style="text-align:left;">Madz</td>\n      <td style="text-align:left;">Faith</td>\n      <td style="text-align:left;">Langton</td>\n      <td style="text-align:left;">2002-01-24</td>\n      <td style="text-align:left;">Aquarius</td>\n      <td style="text-align:left;">Thu</td>\n      <td style="text-align:left;">19 Years 13 Days</td>\n    </tr>\n    <tr style="background-color:lavender; font-weight:bold;;">\n      <th style="text-align:left;">3</th>\n      <td style="text-align:left;">Zack</td>\n      <td style="text-align:left;">Tyler</td>\n      <td style="text-align:left;">Langton</td>\n      <td style="text-align:left;">2007-05-17</td>\n      <td style="text-align:left;">Taurus</td>\n      <td style="text-align:left;">Thu</td>\n      <td style="text-align:left;">13 Years 265 Days</td>\n    </tr>\n    <tr style="background-color:lavender; font-weight:bold;;">\n      <th style="text-align:left;">4</th>\n      <td style="text-align:left;">Yvonne</td>\n      <td style="text-align:left;">Joan</td>\n      <td style="text-align:left;">Langton</td>\n      <td style="text-align:left;">1944-07-28</td>\n      <td style="text-align:left;">Leo</td>\n      <td style="text-align:left;">Fri</td>\n      <td style="text-align:left;">76 Years 193 Days</td>\n    </tr>\n    <tr style="background-color:lavender; font-weight:bold;;">\n      <th style="text-align:left;">5</th>\n      <td style="text-align:left;">Anna</td>\n      <td style="text-align:left;">Louise</td>\n      <td style="text-align:left;">Langton</td>\n      <td style="text-align:left;">1969-10-13</td>\n      <td style="text-align:left;">Libra</td>\n      <td style="text-align:left;">Mon</td>\n      <td style="text-align:left;">51 Years 116 Days</td>\n    </tr>\n    <tr style="background-color:lavender; font-weight:bold;;">\n      <th style="text-align:left;">6</th>\n      <td style="text-align:left;">Sue</td>\n      <td style="text-align:left;">Jane</td>\n      <td style="text-align:left;">Lenihan</td>\n      <td style="text-align:left;">1971-06-26</td>\n      <td style="text-align:left;">Cancer</td>\n      <td style="text-align:left;">Sat</td>\n      <td style="text-align:left;">49 Years 225 Days</td>\n    </tr>\n    <tr style="background-color:lavender; font-weight:bold;;">\n      <th style="text-align:left;">7</th>\n      <td style="text-align:left;">Ginny</td>\n      <td style="text-align:left;">Alexandra</td>\n      <td style="text-align:left;">Carlson</td>\n      <td style="text-align:left;">1975-06-12</td>\n      <td style="text-align:left;">Gemini</td>\n      <td style="text-align:left;">Thu</td>\n      <td style="text-align:left;">45 Years 239 Days</td>\n    </tr>\n  </tbody>\n</table>'

In [224]:
table = df.to_html(index=False).replace('<thead>','<thead style="background-color:purple; color:white;">')
table = table.replace('<tr>', '<tr style="background-color:lavender; font-weight:bold;;">')
table = table.replace('<td>', '<td style="text-align:left;">')
display(HTML(table))

In [225]:
display(HTML(prettify(df.to_html(columns= ['name', 'age'], index=False, border=3, header=True))))

In [196]:
display(HTML(df.to_html(index=False, notebook=False)))

In [174]:
display(HTML(df.to_html().replace('<thead>','<thead style="background-color:purple; color:white;">')))

In [177]:
table

'<table border="1" class="dataframe">\n  <thead style="background-color:purple; color:white;">\n    <tr style="text-align: right;">\n      <th></th>\n      <th>name</th>\n      <th>middle</th>\n      <th>family-name</th>\n      <th>dob</th>\n      <th>sign</th>\n      <th>born-day</th>\n      <th>age</th>\n    </tr>\n  </thead>\n  <tbody style="background-color:lavender;">\n    <tr>\n      <th>0</th>\n      <td>Carl</td>\n      <td>Warneford</td>\n      <td>Langton</td>\n      <td>1973-04-19</td>\n      <td>Aries</td>\n      <td>Thu</td>\n      <td>47 Years 293 Days</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Beth</td>\n      <td>Paige</td>\n      <td>Langton</td>\n      <td>2000-04-04</td>\n      <td>Aries</td>\n      <td>Tue</td>\n      <td>20 Years 308 Days</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Madz</td>\n      <td>Faith</td>\n      <td>Langton</td>\n      <td>2002-01-24</td>\n      <td>Aquarius</td>\n      <td>Thu</td>\n      <td>19 Years 13 Days</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Zack</td>\n      <td>Tyler</td>\n      <td>Langton</td>\n      <td>2007-05-17</td>\n      <td>Taurus</td>\n      <td>Thu</td>\n      <td>13 Years 265 Days</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Yvonne</td>\n      <td>Joan</td>\n      <td>Langton</td>\n      <td>1944-07-28</td>\n      <td>Leo</td>\n      <td>Fri</td>\n      <td>76 Years 193 Days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Anna</td>\n      <td>Louise</td>\n      <td>Langton</td>\n      <td>1969-10-13</td>\n      <td>Libra</td>\n      <td>Mon</td>\n      <td>51 Years 116 Days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Sue</td>\n      <td>Jane</td>\n      <td>Lenihan</td>\n      <td>1971-06-26</td>\n      <td>Cancer</td>\n      <td>Sat</td>\n      <td>49 Years 225 Days</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Ginny</td>\n      <td>Alexandra</td>\n      <td>Carlson</td>\n      <td>1975-06-12</td>\n      <td>Gemini</td>\n      <td>Thu</td>\n      <td>45 Years 239 Days</td>\n    </tr>\n  </tbody>\n</table>'

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         8 non-null      object
 1   middle       8 non-null      object
 2   family-name  8 non-null      object
 3   dob          8 non-null      datetime64[ns]
 4   sign         8 non-null      object
 5   born-day     8 non-null      object
 6   age          8 non-null      object
dtypes: datetime64[ns](1), object(6)
memory usage: 512.0+ bytes

In [192]:
df.to_html(index=False)

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>name</th>\n      <th>middle</th>\n      <th>family-name</th>\n      <th>dob</th>\n      <th>sign</th>\n      <th>born-day</th>\n      <th>age</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Carl</td>\n      <td>Warneford</td>\n      <td>Langton</td>\n      <td>1973-04-19</td>\n      <td>Aries</td>\n      <td>Thu</td>\n      <td>47 Years 293 Days</td>\n    </tr>\n    <tr>\n      <td>Beth</td>\n      <td>Paige</td>\n      <td>Langton</td>\n      <td>2000-04-04</td>\n      <td>Aries</td>\n      <td>Tue</td>\n      <td>20 Years 308 Days</td>\n    </tr>\n    <tr>\n      <td>Madz</td>\n      <td>Faith</td>\n      <td>Langton</td>\n      <td>2002-01-24</td>\n      <td>Aquarius</td>\n      <td>Thu</td>\n      <td>19 Years 13 Days</td>\n    </tr>\n    <tr>\n      <td>Zack</td>\n      <td>Tyler</td>\n      <td>Langton</td>\n      <td>2007-05-17</td>\n      <td>Taurus</td>\n      <td>Thu</td>\n      <td>13 Years 265 Days</td>\n    </tr>\n    <tr>\n      <td>Yvonne</td>\n      <td>Joan</td>\n      <td>Langton</td>\n      <td>1944-07-28</td>\n      <td>Leo</td>\n      <td>Fri</td>\n      <td>76 Years 193 Days</td>\n    </tr>\n    <tr>\n      <td>Anna</td>\n      <td>Louise</td>\n      <td>Langton</td>\n      <td>1969-10-13</td>\n      <td>Libra</td>\n      <td>Mon</td>\n      <td>51 Years 116 Days</td>\n    </tr>\n    <tr>\n      <td>Sue</td>\n      <td>Jane</td>\n      <td>Lenihan</td>\n      <td>1971-06-26</td>\n      <td>Cancer</td>\n      <td>Sat</td>\n      <td>49 Years 225 Days</td>\n    </tr>\n    <tr>\n      <td>Ginny</td>\n      <td>Alexandra</td>\n      <td>Carlson</td>\n      <td>1975-06-12</td>\n      <td>Gemini</td>\n      <td>Thu</td>\n      <td>45 Years 239 Days</td>\n    </tr>\n  </tbody>\n</table>'

In [199]:
pd.options.display.html.border

1